In [ ]:
# TODO
# Ask Sarah about how editions are separated/duplicates
# then, code this up for all editions

In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
%matplotlib inline

In [2]:
# reading in index file

inventory = pd.read_csv("encyclopaediaBritannica-inventory.csv", header=None)
inventory.columns = ['file','volume']
# print(inventory)
print("\nNumber of text files: " + str(len(inventory)))

Number of text files: 195

In [3]:
first_ed = inventory[:3]
list(first_ed['volume']) # list() to print whole text

['Encyclopaedia Britannica; or, A dictionary of arts and sciences, compiled upon a new plan … - First edition, 1771, Volume 1, A-B - EB.1',
 'Encyclopaedia Britannica; or, A dictionary of arts and sciences, compiled upon a new plan … - First edition, 1771, Volume 2, C-L - EB.1',
 'Encyclopaedia Britannica; or, A dictionary of arts and sciences, compiled upon a new plan … - First edition, 1771, Volume 3, M-Z - EB.1']

In [21]:
second_ed = inventory[6:16]
list(second_ed['volume']) # list() to print whole text

['Encyclopaedia Britannica - Second edition, Volume 1, A-AST - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 2, Astronomy-BZO - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 3, C - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 4, D-F - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 5, G-J - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 6, K-Medicine - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 7, Medicines-Optics - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 8, Optics-Poetry - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 9, POI-SCU - EB.4',
 'Encyclopaedia Britannica - Second edition, Volume 10, SCU-Appendix - EB.4']

In [31]:
two_editions = [first_ed, second_ed]

In [23]:
a = [5, "number", 2]
a

[5, 'number', 2]

In [43]:
# Reading in text files and generate word and length counts

def basic_data(editions):
    
    data = []
    
    for ed in editions: 
        length = 0
        words = 0

        for index, row in ed.iterrows():
            print("Reading: " + row['file'])

            f = open('text/' + row['file'], 'r', encoding="utf8")
            content = f.read()
            # print("Length: " + str(len(content)))
            length += len(content)

            words += len(content.split())

            f.close()
            
        data.append([length, words])
        data_df=pd.DataFrame(data,columns=['length_chars','length_words'])
    return data_df

In [44]:
basic_data(two_editions)

Reading: 144133901.txt
Reading: 144133902.txt
Reading: 144133903.txt
Reading: 144850370.txt
Reading: 144850373.txt
Reading: 144850374.txt
Reading: 144850375.txt
Reading: 144850376.txt
Reading: 144850377.txt
Reading: 144850378.txt
Reading: 144850379.txt
Reading: 190273289.txt
Reading: 190273290.txt

   length_chars  length_words
0      14223433       2567769
1      56865594      10173856